*{
    margin: 0;
    padding: 0;
}


.btns{
    height: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap:10px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #333;
    border-radius: 8px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.show-card{
    transform: rotateY(180deg);
}

.btn-init{
    background-color: rgb(64, 185, 64);
    border: 1px solid black;
    border-radius: 32px;
    color: white;
    width: 240px;
    height: 40px;
    box-shadow: 0px 1px 0 #212121, 0px 2px 0 #212121;
    cursor: pointer;
}

.btn-init:active{
    box-shadow: inset -2px 2px 0 #212121
}

.btn-reset{
    background-color: rgb(189, 56, 56);
    border: 1px solid black;
    border-radius: 32px;
    color: white;
    margin-top: 16px;
    width: 120px;
    height: 32px;
    cursor: pointer;
    box-shadow: 0px 1px 0 #212121, 0px 2px 0 #212121;
}

.btn-reset:active{
    box-shadow: inset -2px 2px 0 #212121
}


.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: cover;
    background-position: center;
}

.front{
    transform: rotateY(180deg);
}
.back{
    
    background-image: url('../img/2.jpg');
    backface-visibility: hidden;

}
